body{
    /* background: url("../images/Avengers.jpg") no-repeat center center fixed; */
    /* background: url("../images/marvel.background.png") no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    
}

img{
    max-height:150px;
}
form {
    padding: 10px;
}


form,
.queryBtn {
    background-color: #474747;
    color: white;
}

#superHeroButtons {
    margin: 10px;
}

.theBtn{
    padding: 6px;
    margin: 3px;
}


#addSearchInput {
    color: black;
}

.ratingStyle {
    color: white;
    background-color: black;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}